.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgb(0,0,0);
}

.home .home-title {
  text-align: center;
  color: #0097ab;
  z-index: 1;
  font-size: 38px;
}

.home .home-image {
  position: absolute;
  top: -50px;
  height: 100vh;
  width: 100vw;
  object-fit: contain;
}

@media screen and (max-width: 767px) {

  .home .home-title {
    font-size: 20px;
  }
}